/* Variable declaration */

:root {
  color-scheme: light;

  /* Colors */
  --color-text: #403f3d;
  --color-text-inverse: #e1d4c9;
  --color-accent: #b0907a;
  --color-bg: #e1d4c9;
  --color-surface: #665f55;
  --color-card: #e1d4c9;
  --color-backdrop: #403f3dcc;
  --color-border: #c1b6ad;
  --color-border-strong: #665f55;

  --main-font-size: 1.6rem;

  /* Fonts  */

  --main-font-family: "Inter", Verdana, Tahoma, sans-serif;

  /* Desktop */

  --h1-size: 7.2rem;
  --h2-size: 6rem;
  --h3-size: 2.4rem;

  --h1-line-height: 105%;
  --h2-line-height: 125%;
  --main-line-height: 150%;

  /* Mobile   */

  --h1-mobile-size: 4.2rem;
  --h2-mobile-size: 3.2rem;

  --h1-mobile-line-height: 115%;
  --h2-mobile-line-height: 125%;

  --accent-style: italic;

  --bold-weight: 600;

  /* Margins  */
  --section-margin: 10rem;
  --main-margin: 4rem;
  --small-margin: 2rem;

  /* Paddings  */
  --main-padding: 10rem;
  --middle-padding: 4rem;
  --small-padding: 2rem;
  --tablet-padding: 6rem;

  /* Gaps  */
  --gap-section: 10rem;
  --gap-main: 4rem;
  --gap-small: 1.6rem;
  --gap-burger: 5.55rem;
}

:root[data-theme="dark"] {
  color-scheme: dark;

  --color-text: #e1d4c9;
  --color-text-inverse: #e1d4c9;
  --color-bg: #292826;
  --color-surface: #403f3d;
  --color-card: #403f3d;
  --color-backdrop: #292826cc;
  --color-border: #665f55;
  --color-border-strong: #c1b6ad;
}
